<div class="play">
  <ng-container *ngIf="number$ | async as num;">
    <p class="number">
     {{ num }}
    </p>
  </ng-container>
  <div class="btn-group">
    <button mat-raised-button color="primary" (click)="onNext()" [disabled]="(status$ | async) === 'over'">Next Number</button>
    <button role="link" mat-raised-button color="secondary" routerLink="/board">Show Extracted</button>
      <button *ngIf="(status$ | async) === 'over'" mat-raised-button color="warn" (click)="onRestart()" >Restart Game</button>
      <button *ngIf="(status$ | async) === 'playing'" mat-raised-button color="warn" (click)="onReset()" >Reset Game</button>
  </div>
</div>
