.play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.btn-group {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 1rem;
  }
}
