@import "tailwindcss";

@theme {
    --animate-fade-in: fadein 0.5s ease-out;
    --animate-slide-down: slidedown 0.5s ease-out;
    
    @keyframes fadein {
        from { opacity: 0; transform: translateY(10px); }
        to { opacity: 1; transform: translateY(0); }
    }
    
    @keyframes slidedown {
        from { transform: translateY(-100%); }
        to { transform: translateY(0); }
    }
}